bin/
obj/
build/
dist/
out/
publish/
tmp/
/packages/
dependencies/windowsappsdk/

.vs/
.vscode/
.idea/

TestResults/
**/TestResults/
artifacts/

*.user
*.suo
*.userosscache
*.sln.docstates

*.cache
*.tmp
*.log
.DS_Store
Thumbs.db

*.pdb
*.exe
*.dll
*.runtimeconfig.json
*.deps.json

!tools/
!tools/**/*

coverage/
*.coverage
*.trx
