<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <?define ProductName = "OnlyWinget" ?>
  <?define Manufacturer = "Danny Perondi" ?>

  <Bundle Name="$(var.ProductName)"
          Version="$(var.ProductVersion)"
          Manufacturer="$(var.Manufacturer)"
          UpgradeCode="$(var.BundleUpgradeCode)"
          IconSourceFile="$(var.AppIconPath)"
          Compressed="yes"
          DisableModify="yes"
          DisableRemove="yes">
    <Variable Name="InstallDesktopShortcut" Type="numeric" Value="0" />

    <bal:Condition Message="OnlyWinget requires Windows 10 or Windows 11. Install on an updated Windows 10/11 client and rerun setup. Verify with: winver">
      VersionNT >= v10.0
    </bal:Condition>

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="$(var.LicenseRtfPath)"
                                              LogoFile="$(var.BundleLogoPath)"
                                              ThemeFile="$(var.BundleThemePath)"
                                              LocalizationFile="$(var.BundleThemeLocalizationPath)"
                                              SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage Id="OnlyWingetX64"
                  SourceFile="$(var.X64MsiPath)"
                  Visible="yes"
                  ForcePerMachine="yes"
                  InstallCondition="VersionNT64">
        <MsiProperty Name="INSTALLDESKTOPSHORTCUT" Value="[InstallDesktopShortcut]" />
      </MsiPackage>
      <MsiPackage Id="OnlyWingetX86"
                  SourceFile="$(var.X86MsiPath)"
                  Visible="yes"
                  ForcePerMachine="yes"
                  InstallCondition="NOT VersionNT64">
        <MsiProperty Name="INSTALLDESKTOPSHORTCUT" Value="[InstallDesktopShortcut]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
