<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductName = "OnlyWinget" ?>
  <?define Manufacturer = "Danny Perondi" ?>

  <Bundle Name="$(var.ProductName)"
          Version="$(var.ProductVersion)"
          Manufacturer="$(var.Manufacturer)"
          UpgradeCode="$(var.BundleUpgradeCode)"
          IconSourceFile="$(var.AppIconPath)"
          Compressed="yes"
          DisableModify="yes"
          DisableRemove="yes">
    <Variable Name="InstallDesktopShortcut" Type="numeric" Value="0" />

    <util:RegistrySearch Id="WindowsBuildNumberSearch"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                         Value="CurrentBuildNumber"
                         Variable="WindowsBuildNumber"
                         Result="value" />

    <bal:Condition Message="OnlyWinget requires Windows 10 version 1809 build 17763 or newer, or Windows 11. Install on an updated Windows client and rerun setup. Verify with: winver">
      VersionNT64 AND VersionNT >= v10.0 AND WindowsBuildNumber >= 17763
    </bal:Condition>

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="$(var.LicenseRtfPath)"
                                              LogoFile="$(var.BundleLogoPath)"
                                              ThemeFile="$(var.BundleThemePath)"
                                              LocalizationFile="$(var.BundleThemeLocalizationPath)"
                                              SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain>
      <ExePackage Id="WindowsAppRuntimeX64"
                  SourceFile="$(var.WindowsAppRuntimeInstallerX64Path)"
                  InstallCondition="VersionNT64"
                  InstallCommand="--quiet --force"
                  RepairCommand="--quiet --force"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes" />
      <MsiPackage Id="OnlyWingetX64"
                  SourceFile="$(var.X64MsiPath)"
                  Visible="yes"
                  ForcePerMachine="yes"
                  InstallCondition="VersionNT64">
        <MsiProperty Name="INSTALLDESKTOPSHORTCUT" Value="[InstallDesktopShortcut]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
